<div class="content-page">
    <div class="container-fluid">
        <div class="row justify-content-center py-2 pt-3">
            <div class="col-xxl-5 col-xl-7 text-center">
                <h3 class="fw-bold">
                    Fee Collection Modeule
                </h3>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-lg-12">
                <form class="rounded border p-3" style="background-color: #fff;">

                    <div class="row gap-3">
                        <div class="col-lg-4">
                            <div class="row g-lg-4 g-1">
                                <div class="col-lg-4">
                                    <label for="SearchInput" class="col-form-label" style="font-weight: 600;">Find Student</label>
                                </div>
                                <div class="col-lg-8">
                                    <div class="app-search">
                                        <input type="search" class="form-control" id="SearchInput" (keyup)="nameFilter($event)" placeholder="Search for something...">
                                        <i class="ti ti-search fs-24 positionCustom"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="d-flex justify-content-end">
                                <!-- Designation Filter -->
                                <div class="app-search">
                                    <select class="form-select form-control my-1 my-md-0" style="padding-left: 18px;" (change)="classChange($event)">
                                        <option selected>Select Class</option>
                                        <option *ngFor="let data of this.AllClassRec" [value]="data.GenClassKey" >{{data.GenClassValue}}</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    
        <div class="row">
            <div class="col-xl-12">
                    <div class="card">
                    <div class="card-body px-4">
                    @if(data2.length==0 && isList){
                        <h4>Record Not Found</h4>
                    }
                    @if ( data2.length>0 && isList) {
                        <!-- Students List -->
                        <table id="single-select" class="table dt-responsive align-middle mb-0">
                            <thead class="thead-sm text-uppercase fs-xxs">
                                <tr>
                                    <th>Sr.</th>
                                    <th>Enrollment Number</th>
                                    <th>Name</th>
                                    <th>Father Name</th>
                                    <th>Contact</th>
                                    <th>Studey Mode</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody >
                                <tr *ngFor="let data of this.data2, index as i">
                                    <td>{{i+1}}</td>
                                    <td>{{data.AdmissionId}}</td>
                                    <td>{{data.FirstName}} {{data.LastName}}</td>
                                    <td>{{data.FatherName}}</td>
                                    <td>{{data.PrimaryContact}}</td>
                                    <td>{{data.StudyMode}}</td>
                                    <td><a (click)="OpenFee(data)"><button class="btn btn-primary btn-sm">Open Fee</button></a></td>
                                </tr>
                            </tbody>
                        </table>
                    }@if(isFees) {

                        <!-- Invoice Header -->
                        <div class="d-flex align-items-center justify-content-between mb-3 border-bottom pb-3">
                            <div class="auth-brand mb-0">
                                <a href="index.html" class="logo-dark">
                                    <span class="d-flex justify-content-center align-items-center gap-1">
                                        <span class="avatar avatar-xs rounded-circle text-bg-dark">
                                            <span class="avatar-title">
                                                <img [src]="this.url+this.viewProfile.StudnetPhoto" class="avatar-lg rounded-circle" alt="rounded-circle">
                                            </span>
                                        </span>
                                        <span class="logo-text text-body fw-bold fs-xl"> &nbsp;&nbsp;&nbsp;{{this.viewProfile.FirstName+" "+this.viewProfile.LastName}}</span>
                                    </span>
                                </a>
                                <a href="index.html" class="logo-light">
                                    <span class="d-flex justify-content-center align-items-center gap-1">
                                        <span class="avatar avatar-xs rounded-circle text-bg-dark">
                                            <span class="avatar-title">
                                                <i data-lucide="sparkles" class="fs-md"></i>
                                            </span>
                                        </span>
                                        <span class="logo-text text-white fw-bold fs-xl">Vona</span>
                                    </span>
                                </a>
                            </div>
                            <div class="text-end">
                                <span class="badge bg-success-subtle text-success mb-2 fs-xs px-2 py-1">{{"Active"}}</span>
                                <h4 class="fw-bold text-dark m-0">Enrollment No.- {{this.viewProfile.AdmissionId}}</h4>
                            </div>
                        </div>

                        <!-- Invoice Info -->
                        <div class="row">
                            <div class="col-md-4">
                                <h6 class="text-uppercase text-muted mb-2">Basic Information</h6>
                                <p class="mb-1 fw-semibold">Adhar Card Number -</p>
                                <p class="text-muted mb-1">{{viewProfile.UID}}</p>
                                <p class="mb-1 fw-semibold">Date Of Birth-</p>
                                <p class="text-muted mb-1">{{viewProfile.DateOfBirth}}</p>
                                
                                <p class="mb-1 fw-semibold">Contant -</p>
                                <p class="text-muted mb-0">Phone: {{viewProfile.PrimaryContact}}</p>
                                <p class="text-muted mb-0">Phone: {{viewProfile.SecondaryContact}}</p>

                                <div class="mt-4">
                                    <h6 class="text-uppercase text-muted">Fee Due Date</h6>
                                    <p class="mb-0 fw-medium">{{dueDate}}</p>
                                </div>
                            </div>

                            <div class="col-md-4">
                                <h6 class="text-uppercase text-muted mb-2">background Information</h6>
                                <p class="mb-1 fw-semibold">Father Name - </p>
                                <p class="text-muted mb-1"> {{viewProfile.FatherName}}</p>
                                <p class="mb-1 fw-semibold">Address -</p>
                                <p class="text-muted mb-1">{{viewProfile.AddressLine1}}<br>{{viewProfile.Landmark}} {{viewProfile.City}}</p>
                                <p class="mb-1 fw-semibold">Contant -</p>
                                <p class="text-muted mb-0">Email: {{viewProfile.ParentsEmail}}</p>
                                <div class="mt-4">
                                    <h6 class="text-uppercase text-muted">Due Date</h6>
                                    <p class="mb-0 fw-medium">{{viewProfile.StudyMode}}</p>
                                </div>
                            </div>
                            <div class="col-md-4 text-center rounded pt-2">
                                <img [src]="this.url+this.viewProfile.StudnetPhoto" alt="profile" class="img-fluid" style="max-height: 140px;border: 1px solid cadetblue;padding:4px;border-radius:inherit">
                            </div>
                        </div>
                     }
                    </div>
                </div>
            </div>
        </div>

        @if (isFees) {
        <div class="row">
            <div class="col-xl-12">
                <div class="card">
                    <div class="card-body">
                        <form class="row g-3 needs-validation" [formGroup]="FeeDepo">
                            <div class="col-md-4">
                                <div class="row ">
                                    <div class="col-lg-12">
                                        <label class="col-form-label" style="padding-top: 0px;">Select Educational Session</label>
                                    </div>
                                    <div class="col-lg-12">
                                        <select class="form-select" formControlName="feeMonth" (change)="FeeMonth($event)">
                                            <option selected>Select Month</option>
                                            <option value="January">January</option>
                                            <option value="February">February</option>
                                            <option value="March">March</option>
                                            <option value="April">April</option>
                                            <option value="May">May</option>
                                            <option value="June">June</option>
                                            <option value="July">July</option>
                                            <option value="August">August</option>
                                            <option value="September">September</option>
                                            <option value="October">October</option>
                                            <option value="November">November</option>
                                            <option value="December">December</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="row ">
                                    <div class="col-lg-12">
                                        <label class="col-form-label" style="padding-top: 0px;">Recepit Number (AutoGenerated)</label>
                                        <input type="number" class="form-control" formControlName="receipt" id="validationCustom01" placeholder="₹" required>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <label for="validationCustom01" class="form-label">Transction Date</label>
                                <input type="date" class="form-control" id="validationCustom01" placeholder="₹" readonly>
                            </div>
                            <div class="col-md-4">
                                <label for="validationCustom01" class="form-label">Fee Amounts </label><br>
                                @for (fee of feeValue; track fee.FeeId) {
                                <input type="checkbox" class="form-check-input" [checked]="fee.FeeId">
                                <label class="form-check-label">
                                    &nbsp;{{fee.FeeName}}&nbsp;
                                </label>
                                <label class="form-label">₹ {{ fee.stracture?.[0]?.Fee_Amount }} / {{fee.stracture?.[0]?.Fee_Panalty}}</label><br>
                                }
                            </div>
                            <div class="col-md-4">
                                <label for="validationCustom01" class="form-label">Total Fee Amount </label>
                                <input type="number" class="form-control" id="validationCustom01" placeholder="₹" readonly>
                                <div class="valid-feedback">
                                    Looks great!
                                </div>
                            </div>
                            <div class="col-md-4">
                                <label for="validationCustom01" class="form-label">Late Fee Penalty </label>
                                <input type="number" class="form-control" id="validationCustom01" placeholder="₹" readonly required>
                                <div class="valid-feedback">
                                    Looks great!
                                </div>
                            </div>
                            <div class="col-md-4">
                                <label for="validationCustom01" class="form-label">Discount(%)</label>
                                <input type="number" class="form-control" id="validationCustom01" placeholder="₹" required>
                                <div class="valid-feedback">
                                    Looks great!
                                </div>
                            </div>
                            <div class="col-md-4">
                                <label for="validationCustom01" class="form-label">Grand Total</label>
                                <input type="number" class="form-control" id="validationCustom01" placeholder="₹" required>
                                <div class="valid-feedback">
                                    Looks great!
                                </div>
                            </div>
                            <div class="col-md-4">
                                <label for="validationCustom01" class="form-label">Due Date</label>
                                <input type="date" class="form-control" id="validationCustom01" placeholder="₹" required>
                                <div class="valid-feedback">
                                    Looks great!
                                </div>
                            </div>
                            <div class="col-md-4">
                                <label for="validationCustom02" class="form-label">Remark</label>
                                <input type="text" class="form-control" id="validationCustom02" placeholder="Enter Comment..." required>
                                <div class="valid-feedback">
                                    Looks great!
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="invalidCheck" required>
                                    <label class="form-check-label" for="invalidCheck">
                                        I agree to the terms and conditions
                                    </label>
                                    <div class="invalid-feedback">
                                        You must agree before submitting.
                                    </div>
                                </div>
                            </div>
                            <div class="col-12">
                                <button class="btn btn-primary" type="submit">Create</button>
                            </div> 
                        </form>
                    </div>
                </div>
            </div>
        </div>
        }

    </div>

</div>