<div class="content-page">
    <div class="container-fluid">
        <div class="row justify-content-center py-2 pt-3">
            <div class="col-xxl-5 col-xl-7 text-center">
                <h3 class="fw-bold">
                    Fee Collection Reports
                </h3>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12">

                <div class="card">
                    <div class="card-header justify-content-between">
                        <h5 class="card-title">Create Fee Stracture</h5>
                        <div class="row g-lg-4 g-2">
                            <div class="col-lg-4">
                                <label for="SearchInput" class="col-form-label">Search Student</label>
                            </div>
                            <div class="col-lg-8">
                                <div class="app-search">
                                    <input type="search" class="form-control" id="SearchInput" placeholder="Search for something...">
                                    <i class="ti ti-search fs-24 positionCustom"></i>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="card-body">
                        <form class="row g-3 needs-validation" >
                            <div class="col-md-6">
                                <div class="row ">
                                    <div class="col-lg-12">
                                        <label class="col-form-label" style="padding-top: 0px;">Select Teacher</label>
                                    </div>
                                    <div class="col-lg-12">
                                        <select class="form-select" (change)="TeacherChange($event)">
                                            <option selected="">Select Teacher</option>
                                            <option *ngFor="let ab of teacherList, index as i" [value]="ab.ClassId">{{ab.Name}}</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="row ">
                                    <div class="col-lg-12">
                                        <label class="col-form-label" style="padding-top: 0px;">Select Students</label>
                                    </div>
                                    <div class="col-lg-12">
                                        <select class="form-select" (change)="StudentsChange($event)">
                                            <option selected="">Select Students</option>
                                            <option *ngFor="let ab of StudentCollection2, index as i" [value]="ab.AdmissionId">{{ab.FirstName}}</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12">
                                <button class="btn btn-primary" type="submit">Find Student</button>
                            </div> 
                        </form>

                    </div>

                    <div class="card-body">
                        <table class="table table-hover" style="overflow: scroll;">
                            <thead>
                                <tr>
                                    <th>Sr.No</th>
                                    <th>Recipt Number</th>
                                    <th>Transaction Date</th>
                                    <th>Enrollment Number</th>
                                    <th>Student Name</th>
                                    <th>Fee Name</th>
                                    <th>Fee Amounts</th>
                                    <th>Fee Panelty</th>
                                    <th>Discount (%)</th>
                                    <th>Grand Total</th>
                                    <th>Total Pay</th>
                                    <th>Due Wallet</th>
                                    <th>Wallet History</th>
                                    <th>Transaction Mode</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let data of this.FeeCollection2, index as i">
                                    <td>{{i+1}}</td>
                                    <td>{{data.Receipt}}</td>
                                    <td>{{data.TranDate}}</td>
                                    <td>{{data.StudTran}}</td>
                                    <td>{{studentName[0].FirstName}}</td>
                                    <td>Fee Name</td>
                                    <td>{{"data.FeeAmount"}}</td>
                                    <td>{{"data.FeePanelty"}}</td>
                                    <td>{{"data.Discount"}}</td>
                                    <td>{{"data.GrandTotal"}}</td>
                                    <td>{{"data.TotalPay"}}</td>
                                    <td>{{"data.DueWallet"}}</td>
                                    <td>{{"data.WalletHistory"}}</td>
                                    <td>{{"data.TransactionMode"}}</td>
                                    <td></td>
                                    <td></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>