<div class="content-page">
    <div class="container-fluid">
        <div class="row justify-content-center py-2 pt-3">
            <div class="col-xxl-5 col-xl-7 text-center">
                <h3 class="fw-bold">
                    Student View Profile
                </h3>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-lg-12">
                <form class="rounded border p-3" style="background-color: #fff;">

                    <div class="row gap-3">
                        <div class="col-lg-4">
                            <!-- <div class="app-search">
                                <input type="text" class="form-control" placeholder="Search contact name...">
                                <i data-lucide="search" class="app-search-icon text-muted"></i>
                            </div> -->
                            <div class="row g-lg-4 g-1">
                                <div class="col-lg-4">
                                    <label for="SearchInput" class="col-form-label" style="font-weight: 600;">Find Student</label>
                                </div>
                                <div class="col-lg-8">
                                    <div class="app-search">
                                        <input type="search" class="form-control" id="SearchInput" placeholder="Search for something...">
                                        <i class="ti ti-search fs-24 positionCustom"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="d-flex justify-content-end flex-wrap align-items-center gap-2">
                                <!-- <span class="me-2 fw-semibold">Filter By:</span> -->

                                <!-- Designation Filter -->
                                <div class="app-search">
                                    <select class="form-select form-control my-1 my-md-0">
                                        <option selected>Select Class</option>
                                        <option value="Manager">Manager</option>
                                        <option value="Developer">Developer</option>
                                        <option value="Designer">Designer</option>
                                        <option value="Sales">Sales</option>
                                        <option value="Support">Support</option>
                                    </select>
                                    <i data-lucide="user-check" class="app-search-icon text-muted"></i>
                                </div>

                                <!-- Location Filter -->
                                <div class="app-search">
                                    <select class="form-select form-control my-1 my-md-0">
                                        <option selected>Select Session</option>
                                        <option value="USA">USA</option>
                                        <option value="UK">UK</option>
                                        <option value="Germany">Germany</option>
                                        <option value="India">India</option>
                                        <option value="Canada">Canada</option>
                                    </select>
                                    <i data-lucide="map-pin" class="app-search-icon text-muted"></i>
                                </div>

                                <!-- Department Filter -->
                                <div class="app-search">
                                    <select class="form-select form-control my-1 my-md-0">
                                        <option selected>Select Session</option>
                                        <option value="UI/UX">UI/UX</option>
                                        <option value="Engineering">Engineering</option>
                                        <option value="HR">HR</option>
                                        <option value="Marketing">Marketing</option>
                                        <option value="Finance">Finance</option>
                                    </select>
                                    <i data-lucide="layers" class="app-search-icon text-muted"></i>
                                </div>

                                <button type="submit" class="btn btn-primary">Filter</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>

        <div class="row row-cols-xxl-4 row-cols-md-2 row-cols-1">
            <div class="col">
                <div class="card card-hovered">
                    <div class="card-body">
                        <div class="d-flex align-items-center mb-4">
                            <div class="me-3 position-relative">
                                <img src="assets/images/users/user-1.jpg" alt="avatar" class="rounded-circle" width="72" height="72">
                                <span class="position-absolute bottom-0 end-0 badge bg-primary rounded-circle p-1 shadow-sm" title="Rating 4.8">
                                    <i class="ti ti-star text-white"></i>
                                </span>
                            </div>
                            <div>
                                <h5 class="mb-1 d-flex align-items-center">
                                    <a href="#!" class="link-reset fw-medium fs-md">Daniel Carter</a>
                                    <img src="assets/images/flags/us.svg" alt="USA" class="ms-2 rounded-circle" height="16">
                                </h5>
                                <p class="text-muted mb-1">Product Manager</p>
                                <span class="badge bg-success-subtle text-success fw-medium">VERIFIED</span>
                            </div>
                            <div class="ms-auto">
                                <div class="dropdown">
                                    <a href="#" class="btn btn-icon btn-ghost-light text-muted" data-bs-toggle="dropdown">
                                        <i class="ti ti-dots-vertical fs-xl"></i>
                                    </a>
                                    <ul class="dropdown-menu dropdown-menu-end">
                                        <li><a class="dropdown-item" href="#"><i class="ti ti-share me-2 fs-15"></i>Share</a></li>
                                        <li><a class="dropdown-item" href="#"><i class="ti ti-edit me-2 fs-15"></i>Edit</a></li>
                                        <li><a class="dropdown-item" href="#"><i class="ti ti-ban me-2 fs-15"></i>Block</a></li>
                                        <li><a class="dropdown-item text-danger" href="#"><i class="ti ti-trash me-2 fs-15"></i>Delete</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <p class="text-muted mb-2">
                            Daniel is a tech-savvy product manager with a track record of launching scalable SaaS products.
                        </p>

                        <a href="#!" class="icon-link icon-link-hover link-reset fw-medium">
                            View Profile <i class="bi fs-16 ti ti-arrow-narrow-right"></i>
                        </a>
                    </div> <!-- end card-body -->
                    <div class="card-footer">
                        <div class="row text-center">
                            <div class="col-4">
                                <div class="text-muted fs-xs mb-1">CAMPAIGNS</div>
                                <div class="fw-bold">76</div>
                            </div>
                            <div class="col-4">
                                <div class="text-muted fs-xs mb-1">CONTACTS</div>
                                <div class="fw-bold">335</div>
                            </div>
                            <div class="col-4">
                                <div class="text-muted fs-xs mb-1">ENGAGEMENT</div>
                                <div class="fw-bold">97%</div>
                            </div>
                        </div>
                    </div> <!-- end card-footer-->
                </div> <!-- end card-->
            </div> <!-- end col-->

        </div> 
        <ul class="pagination pagination-rounded pagination-boxed justify-content-center">
            <li class="page-item">
                <a class="page-link" href="javascript: void(0);" aria-label="Previous">
                    <span aria-hidden="true">«</span>
                </a>
            </li>
            <li class="page-item active"><a class="page-link" href="javascript: void(0);">1</a></li>
            <li class="page-item"><a class="page-link" href="javascript: void(0);">2</a></li>
            <li class="page-item"><a class="page-link" href="javascript: void(0);">3</a></li>
            <li class="page-item"><a class="page-link" href="javascript: void(0);">4</a></li>
            <li class="page-item"><a class="page-link" href="javascript: void(0);">5</a></li>
            <li class="page-item">
                <a class="page-link" href="javascript: void(0);" aria-label="Next">
                    <span aria-hidden="true">»</span>
                </a>
            </li>
        </ul>
    </div>
</div>