<div class="content-page">
    <div class="container-fluid">
        <div class="row justify-content-center py-2 pt-3">
            <div class="col-xxl-5 col-xl-7 text-center">
                <h3 class="fw-bold">
                    Form Validation
                </h3>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12">

                <div class="card">
                    <div class="card-header justify-content-between">
                        <h5 class="card-title">Registered Class</h5>
                        <div class="row g-lg-4 g-2">
                            <div class="col-lg-4">
                                <label for="SearchInput" class="col-form-label">Search Registered Class</label>
                            </div>
                            <div class="col-lg-8">
                                <div class="app-search">
                                    <!-- <input type="search" class="form-control" id="SearchInput" placeholder="Search for something...">
                                    <i class="ti ti-search fs-24 positionCustom"></i> -->
                                    <div class="ng-autocomplete">
                                        <ng-autocomplete 
                                        [data]="data"
                                        [searchKeyword]="keyboard"
                                        placeholder="Select country"
                                        (selected)='selectEvent($event)'
                                        (inputChanged)='onChangeSearch($event)'
                                        (inputFocused)='onFocused($event)'
                                        [itemTemplate]="itemTemplate"
                                        [notFoundTemplate]="notFoundTemplate">                                 
                                        </ng-autocomplete>

                                        <ng-template #itemTemplate let-item>
                                        <a [innerHTML]="item.GenClassValue"></a>
                                        </ng-template>

                                        <ng-template #notFoundTemplate let-notFound>
                                        <div [innerHTML]="notFound"></div>
                                        </ng-template>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="card-body">
                        <form class="row g-3 needs-validation" [formGroup]="GenClassForm">
                            <div class="col-md-6">
                                <label for="validationCustom01" class="form-label">Session Name</label>
                                <input type="text" class="form-control" id="validationCustom01" [(ngModel)]="selectedSessionId" formControlName="GenClassValue" readonly required>
                                <div class="valid-feedback">
                                    Looks great!
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="row ">
                                    <div class="col-lg-12">
                                        <label class="col-form-label" style="padding-top: 0px;">Select Educational Class</label>
                                    </div>
                                    <div class="col-lg-12">
                                        <select class="form-select" formControlName="ClassId" (change)="dataBinding1($event)">
                                            <option *ngFor="let a of this.ClassIdLs" [value]="a.ClassId">{{a.ClassNumber}}</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="row ">
                                    <div class="col-lg-12">
                                        <label class="col-form-label" style="padding-top: 0px;">Select Educational Section</label>
                                    </div>
                                    <div class="col-lg-12">
                                        <select class="form-select" formControlName="SectionId" (change)="dataBinding2($event)">
                                            <option *ngFor="let a of this.ClassSectionIdLs" [value]="a.SectionId" >{{a.SectionNumber}}</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="row ">
                                    <div class="col-lg-12">
                                        <label class="col-form-label" style="padding-top: 0px;">Select Educational Session</label>
                                    </div>
                                    <div class="col-lg-12">
                                        <select class="form-select" formControlName="SessionId" (change)="dataBinding3($event)">
                                            <option *ngFor="let a of this.AcademicSessionIdLs" [value]="a.SessionId" >{{a.SessionYear}}</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                
                            <div class="col-12 d-flex">
                                <!-- Submit or update -->
                                <button class="btn btn-primary" type="submit" (click)="onSubmit()" [ngClass]="isButton?'btn-primary':'btn-outline-secondary'">{{isButton?'Create':'Update'}}</button>&nbsp;
                                <!-- Delete -->
                                <button class="btn btn-outline-secondary" type="button" (click)="delete()" [ngStyle]="{'display': isButton ? 'none' : 'block'}" >Delete</button>&nbsp;
                                <!-- Fresh -->
                                <button class="btn btn-outline-secondary" type="button" (click)="clear()">Clear</button>&nbsp;
                            </div> 
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>