 <div class="content-page">

            <div class="container-fluid">
                
                
                <!-- <div class="row justify-content-center py-5">
                    <div class="col-xxl-5 col-xl-7 text-center">
                        <span class="badge badge-default fw-normal shadow px-2 py-1 mb-2 fst-italic fs-xxs">
                            <i data-lucide="receipt-text" class="fs-sm me-1"></i> Billing & Payments
                        </span>
                        <h3 class="fw-bold">
                            Invoice Details
                        </h3>

                        <p class="fs-md text-muted mb-0">
                            View and manage billing information, transaction summaries, and downloadable invoice records.
                        </p>
                    </div>
                </div>
                 -->

                <div class="row">
                    <div class="col-xl-9">
                        <div class="card">
                            <div class="card-body px-4">
                           
                                <!-- Invoice format -->
                                <!-- <div class="d-flex align-items-center justify-content-between mb-3 border-bottom pb-3">
                                    <div class="auth-brand mb-0">
                                        <a href="index.html" class="logo-dark">
                                            <span class="d-flex justify-content-center align-items-center gap-1">
                                                <span class="avatar avatar-xs rounded-circle text-bg-dark">
                                                    <span class="avatar-title">
                                                        <i data-lucide="sparkles" class="fs-md"></i>
                                                    </span>
                                                </span>
                                                <span class="logo-text text-body fw-bold fs-xl">Aditya Infotech</span>
                                            </span>
                                        </a>
                                        <a href="index.html" class="logo-light">
                                            <span class="d-flex justify-content-center align-items-center gap-1">
                                                <span class="avatar avatar-xs rounded-circle text-bg-dark">
                                                    <span class="avatar-title">
                                                        <i data-lucide="sparkles" class="fs-md"></i>
                                                    </span>
                                                </span>
                                                <span class="logo-text text-white fw-bold fs-xl">Prashant</span>
                                            </span>
                                        </a>
                                    </div>
                                    <div class="text-end">
                                        <span class="badge bg-success-subtle text-success mb-2 fs-xs px-2 py-1">Paid</span>
                                        <h4 class="fw-bold text-dark m-0">IdCard #TNL-0125789</h4>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-4">
                                        <h6 class="text-uppercase text-muted mb-2">From</h6>
                                        <p class="mb-1 fw-semibold">Eleanor Hayes</p>
                                        <p class="text-muted mb-1">512 Willow St,<br>Denver, CO - 80203</p>
                                        <p class="text-muted mb-0">Phone: 303-892-3344</p>
                                        <div class="mt-4">
                                            <h6 class="text-uppercase text-muted">Invoice Date</h6>
                                            <p class="mb-0 fw-medium">01 Jun 2025</p>
                                        </div>
                                    </div>

                                    <div class="col-4">
                                        <h6 class="text-uppercase text-muted mb-2">To</h6>
                                        <p class="mb-1 fw-semibold">Benjamin Hart</p>
                                        <p class="text-muted mb-1">99 Hillside Blvd,<br>San Mateo, CA - 94401</p>
                                        <p class="text-muted mb-0">Phone: 650-328-9002</p>
                                        <div class="mt-4">
                                            <h6 class="text-uppercase text-muted">Due Date</h6>
                                            <p class="mb-0 fw-medium">10 Jun 2025</p>
                                        </div>
                                    </div>

                                    <div class="col-4 text-end">
                                        <img src="assets/images/qr.png" alt="Barcode" class="img-fluid" style="max-height: 80px;">
                                    </div>
                                </div>

                                <div class="table-responsive mt-4">
                                    <table class="table table-bordered table-nowrap text-center align-middle">
                                        <thead class="bg-light align-middle bg-opacity-25 thead-sm">
                                            <tr class="text-uppercase fs-xxs">
                                                <th style="width: 50px;">#</th>
                                                <th class="text-start">Service</th>
                                                <th>Qty</th>
                                                <th>Unit Price</th>
                                                <th class="text-end">Total</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>01</td>
                                                <td class="text-start">
                                                    <strong>Website Redesign</strong>
                                                    <div class="text-muted">(Landing page + blog + pricing)</div>
                                                </td>
                                                <td>1</td>
                                                <td>$1,000.00</td>
                                                <td class="text-end">$1,000.00</td>
                                            </tr>
                                            <tr>
                                                <td>02</td>
                                                <td class="text-start">
                                                    <strong>Content Creation</strong>
                                                    <div class="text-muted">(5 blog posts)</div>
                                                </td>
                                                <td>5</td>
                                                <td>$60.00</td>
                                                <td class="text-end">$300.00</td>
                                            </tr>
                                            <tr>
                                                <td>03</td>
                                                <td class="text-start">
                                                    <strong>Maintenance Plan</strong>
                                                    <div class="text-muted">(Monthly hosting & support)</div>
                                                </td>
                                                <td>1</td>
                                                <td>$150.00</td>
                                                <td class="text-end">$150.00</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>

                                <div class="d-flex justify-content-end">
                                    <table class="table w-auto table-borderless text-end">
                                        <tbody>
                                            <tr>
                                                <td class="fw-medium">Subtotal</td>
                                                <td>$1,450.00</td>
                                            </tr>
                                            <tr>
                                                <td class="fw-medium">Shipping</td>
                                                <td>$20.00</td>
                                            </tr>
                                            <tr>
                                                <td class="fw-medium">Discount (10%)</td>
                                                <td class="text-danger">- $145.00</td>
                                            </tr>
                                            <tr>
                                                <td class="fw-medium">Tax (8%)</td>
                                                <td>$104.00</td>
                                            </tr>
                                            <tr class="border-top pt-2 fs-5 fw-bold">
                                                <td>Total</td>
                                                <td>$1,429.00</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>

                                <div class="mt-lg-4 mt-2 bg-light bg-opacity-50 rounded px-3 py-2">
                                </div>

                                <div class="mt-4">
                                    <p class="fw-semibold mb-3">Thank you for choosing Vona!</p>
                                    <img src="assets/images/sign.png" alt="Signature" height="32">
                                    <p class="text-muted fs-xxs fst-italic">Authorized Signature</p>
                                </div> -->

                                <!-- Id Card -->
                                 <div class="card shadow-sm" style="max-width: 400px; margin: auto; border-radius: 15px; overflow: hidden;">

                                    <!-- Header -->
                                    <div class="bg-primary text-white text-center py-3">
                                        <h5 class="mb-0 fw-bold">Aditya Infotech School</h5>
                                        <small>Student Identity Card</small>
                                    </div>

                                    <!-- Body -->
                                    <div class="p-3 text-center">

                                        <!-- Student Photo -->
                                        <div class="mb-3">
                                            <img src="assets/images/user.jpg" 
                                                class="rounded-circle border" 
                                                style="width: 100px; height: 100px; object-fit: cover;">
                                        </div>

                                        <!-- Student Name -->
                                        <h5 class="fw-bold mb-1">Rahul Sharma</h5>
                                        <p class="text-muted mb-2">Class: 10th | Section: A</p>

                                        <!-- Info -->
                                        <div class="text-start mt-3">
                                            <p class="mb-1"><strong>Admission ID:</strong> TNL-0125789</p>
                                            <p class="mb-1"><strong>Roll No:</strong> 23</p>
                                            <p class="mb-1"><strong>DOB:</strong> 12 Aug 2008</p>
                                            <p class="mb-1"><strong>Phone:</strong> 9876543210</p>
                                            <p class="mb-1"><strong>Address:</strong> Agra, Uttar Pradesh</p>
                                        </div>

                                        <!-- QR -->
                                        <div class="mt-3">
                                            <img src="assets/images/qr.png" 
                                                class="img-fluid" 
                                                style="max-height: 80px;">
                                        </div>
                                    </div>

                                    <!-- Footer -->
                                    <div class="bg-light text-center py-2">
                                        <small class="text-muted">Valid Till: Mar 2026</small>
                                    </div>

                                </div>
                            </div>
                        </div>

                    </div> <!-- end col-9-->

                    <div class="col-xl-3 d-print-none">
                        <div class="card card-top-sticky">
                            <div class="card-body">
                                <div class="justify-content-center d-flex flex-column gap-2">
                                    <a href="javascript:window.print()" class="btn btn-primary"><i class="ti ti-printer me-1"></i> Print</a>
                                    <a href="javascript: void(0);" class="btn btn-info"><i class="ti ti-download me-1"></i> Download</a>
                                    <a href="javascript: void(0);" class="btn btn-danger"><i class="ti ti-send me-1"></i> Send</a>
                                </div>
                            </div> <!-- end card-body-->
                        </div> <!-- end card-->
                    </div> <!-- end col-9-->
                </div> <!-- end row-->

            </div>
            <!-- container -->

            <!-- Footer Start -->
            <footer class="footer">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-6 text-center text-md-start">
                            © <script>document.write(new Date().getFullYear())</script> Aditya Infotech By <span class="fw-semibold">School Management Software</span> 
                        </div>
                        <div class="col-md-6">
                            <div class="text-md-end d-none d-md-block">
                                59.5GB of <span class="fw-bold">200GB</span> Free.
                            </div>
                        </div>
                    </div>
                </div>
            </footer>
            <!-- end Footer -->

        </div>
