<div class="content-page">
    <div class="container-fluid">
        <div class="row justify-content-center py-2 pt-3">
            <div class="col-xxl-5 col-xl-7 text-center">
                <h3 class="fw-bold">
                    Daily Attenduce Stracture
                </h3>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12">

                <div class="card">
                    <div class="card-header justify-content-between">
                        <h5 class="card-title">Find Attenduce Stracture</h5>
                            
                        <div class="w-50">
                            <select class="form-select " (change)="onTeacherChange($event)">
                                <option selected="">Select Class</option>
                                <option *ngFor="let rec of teacherList" [value]="rec.ClassId">{{rec.Name}}</option>
                            </select>
                            
                        </div>
                    </div>

                    <div class="card-body">

                        <div *ngIf="this.techerData.length > 0" class="alert alert-info" role="alert">
                            <div *ngFor="let rec of this.techerData">
                                <p>Teacher Name: {{rec.Name}}</p>
                                <h5 class="alert-heading">Name: {{rec.Name}}</h5>
                                <p>Contact: {{rec.Contact}}</p>
                                <p>Subject: {{rec.SubjectTeacher}}</p>
                            </div>
                        </div>

                        <div *ngIf="StudnetList && StudnetList.length > 0">
                            <h3>Students Attendance for Class: {{ selectedClass }}</h3>
                            <form [formGroup]="attendanceForm" (ngSubmit)="submitAttendance()">
                                <table class="table table-bordered table-striped">
                                    <thead class="table-dark">
                                        <tr>
                                        <th>Roll No</th>
                                        <th>Name</th>
                                        <th>Father Name (Contact)</th>
                                        <th>Status</th>
                                        <th>Remarks</th>
                                        </tr>   
                                    </thead>
                                    <tbody formArrayName="students">
                                        <tr *ngFor="let student of StudnetList; let i = index" [formGroupName]="i">
                                            <td><input type="text" [value]="student.AdmissionId" formControlName="RollNumber" class="form-control" readonly></td>
                                            <td>{{ student.FirstName }} {{ student.LastName }}</td>
                                            <td>{{ student.FatherName }} ({{ student.PrimaryContact }})</td>
                                            <td>
                                                <select class="form-select" formControlName="StatusA" required>
                                                    <option value="" disabled selected>Select</option>
                                                    <option value="P">Present</option>
                                                    <option value="A">Absent</option>
                                                </select>
                                            </td>
                                            <td>
                                                <input type="text" class="form-control" placeholder="Enter Comment(If Absence too)..." formControlName="Note">
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                <button type="submit" class="btn btn-success">Submit Attendance</button>
                            </form>
                        </div>

                        <div *ngIf="!StudnetList || StudnetList.length === 0">
                            <p>No students found for this class.</p>
                        </div>

                    </div>
                </div>

            </div>
        </div>
    </div>
</div>