<div class="content-page">
    <div class="container-fluid">
        <div class="row justify-content-center py-2 pt-3">
            <div class="col-xxl-5 col-xl-7 text-center">
                <h3 class="fw-bold">
                    Student Attenduce List
                </h3>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body">
                        <div class="bg-light p-2">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="mb-3">
                                        <div class="mb-2 d-flex justify-content-center">
                                            <div class="form-check form-check-inline fs-lg">
                                                <input class="form-check-input" type="radio" Name="Gender" checked (click)="formChange('Month')" value="Month" id="inlineRadio1" >
                                                <label class="form-check-label" for="inlineRadio1">Student Wise (Monthly)</label>
                                            </div>
                                            <div class="form-check form-check-inline fs-lg">
                                                <input class="form-check-input" type="radio" Name="Gender" (click)="formChange('Day')" value="Day" id="inlineRadio2">
                                                <label class="form-check-label" for="inlineRadio2">Teacher Wise (Day)</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        @if(!isDayWise){
                        <form class="row g-3 needs-validation pt-3" [formGroup]="TeacherWise">
                            <div class="col-md-6">
                                <div class="row ">
                                    <div class="col-lg-12 pt-2">
                                        <label class="col-form-label" style="padding-top: 0px;">Select Attenduce Date</label>
                                         <input type="date" class="form-control" id="validationCustom01" formControlName="Date" placeholder="₹" required>
                                        <div class="valid-feedback">
                                            Looks great!
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="row ">
                                    <div class="col-lg-12 pt-2">
                                        <label class="col-form-label" style="padding-top: 0px;">Select Class Teacher</label>
                                        <select class="form-select" formControlName="TeacherId">
                                            <option selected="">Select Fee</option>
                                            <option *ngFor="let a of TeacherList" [value]="a.TeacherId">{{a.Name}}</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <br>
                            <div class="col-12">
                                <button class="btn btn-primary" type="submit" (click)="onSubmit('Teacher')">Search Attenduce</button>
                            </div> 
                        </form>
                        }
                        @else{
                        <form class="row g-3 needs-validationv pt-3">
                            <div class="col-md-6">
                                <label for="validationCustom01" class="form-label">Select Month</label>
                                <input type="month" class="form-control" id="validationCustom01" placeholder="₹" required>
                                <div class="valid-feedback">
                                    Looks great!
                                </div>
                            </div>
                            <div class="col-md-6">
                                <label for="validationCustom01" class="form-label">Class Teacher</label>
                                <select class="form-select ">
                                    <option selected="">Select Fee</option>
                                    <option value="I">1st</option>
                                </select>
                            </div>
                            <div class="col-md-12">
                                <label for="validationCustom02" class="form-label">Student Name + Father Name</label>
                                <select class="form-select ">
                                    <option selected="">Select Fee</option>
                                    <option value="I">1st</option>
                                </select>
                            </div>
                            <br>
                            <div class="col-12">
                                <button class="btn btn-primary" type="submit" (click)="onSubmit('Student')">Search Attenduce</button>
                            </div> 
                        </form>
                        }
                    </div>
                </div>

            </div>
        </div>


        <!-- Attendce Data Records -->
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col">Date</th>
                                    <th scope="col">Teacher Name</th>
                                    <th scope="col">Student Name</th>
                                    <th scope="col">Father Name</th>
                                    <th scope="col">Staus</th>
                                    <th scope="col">Remark</th>
                                    <th scope="col">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td scope="col">-</td>
                                    <td scope="col">-</td>
                                    <td scope="col">-</td>
                                    <td scope="col">-</td>
                                    <td scope="col">-</td>
                                    <td scope="col">-</td>
                                    <td scope="col">-</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>